.slot_list{
    list-style: none;
    margin: 0px 78px 20px 45px;
    /* margin: auto; */
    text-align: center;
}

.slot_list h1{
    margin: 20px -8px 40px 35px;
}

.u_list{
    list-style: none;
}

